{# templates/emails/signup.html.twig #}
<h1>Welcome {{ user.email }}!</h1>

<p>
    <a href="https://sancartonfix.mimso.net/confirm-account/{{ token }}">Click here to activate your account</a> or copy and paste this link into your browser:
    {{ token }}
</p>
