{# templates/emails/signup.html.twig #}
<h1>Welcome {{ user.email }}!</h1>

<p>
    <a href="{{ token }}">Click here to activate your account</a>
    (this link is valid until {{ expirationDate|date('F jS') }})
</p>